body {
    font-family: Arial, sans-serif; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0; 
    /* background-repeat: no-repeat; */
    /* background-size: cover;    */
}
#signup-video{
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
}    

.signup-container{    
    padding: 14px;
    padding-top: 6px;  
    padding-left: 27px;  
    padding-bottom: 23px;
    border-radius: 40px;
    box-shadow: 6px 6px 29px white;
    width: 350px;   
    filter: brightness(100%);
}

.signup-form h2 {
    margin-bottom: 30px;
    text-align: center;    /* margin-left: 15px; */
    color:  #ffffff;
    font-size: 47px;
    margin-right: 6%;   

    
}

.input-group {
    margin-bottom: 15px;
}
.input{
    margin-bottom: 15px;
}
.input label{
    display: block;
    margin: 5px;
    font-weight: bold;
    color: #ffffff;
    font-size: 13px;
    text-align: left;
}
.input-group label {
    display: block;
    margin: 5px;
    font-weight: bold;
    color: #ffffff;
    font-size: 13px;
    text-align: left;
}
.input input {
    /* width: 50%; */
    padding: 10px;
    font-size: 14px;    
    border: 1px solid #000000;
    border-radius: 10px;    
}
.clickbox{
width: 300px;
}

.input-group input {
    width: 86%;
    padding: 10px;
    font-size: 14px;    
    border: 1px solid #000000;
    border-radius: 10px;    
}

.signup-btn[type="submit"] {
    width: 86%;
    padding: 12px;
    margin-top: 15px;
    font-size: 16px;
    align-self: center;
    color: #fff;
    background-color: #6700bb;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}
.have-acc{
    background: transparent;
    border: none;
    /* background-color: white; */
    color: white;
    margin-top: 3%;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}
