<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>noottrecharge</title>
    <link rel="stylesheet" href="/static/noottrecharge.css">
    <link rel="stylesheet" href="/static/main.css"> 
</head>
<body>
     
        
    </div>
    <section class="section">
        <div class="div">
            <h1 class="h1">Opps !</h1>
            <h2 class="h2">   Your password is not matching!</h2>
            <!-- <button class="button" type="submit">Recharge now</button> -->
        </div>
    </section>
</body>
</html>